{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="70E8BDE348DAB9E88CAF99CD32C634AD" />
    <meta name="google-site-verification" content="FPf9UqfkOva1xowiOJqOIMlxBORaW2Nt0jna3-HCjPQ" />
    <meta name="description" content="Set up Plex in minutes using plex.tv/link. Follow our easy step-by-step guide to activate your device, sign in, and start streaming your personal media or Plex content across all your devices." />
    <meta name="keywords" content="plex.tv/link, Plex activation, Plex setup guide, activate Plex, streaming media, Plex device setup" />
    <meta name="robots" content="index, follow" />
    <title>Set Up Plex Using plex.tv/link – Step-by-Step Activation Guide</title>
    {{ super() }}
{% endblock %}
